@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(./root.css);

/***** max-width *****/

.max-w-340 {
    max-width: 340px;
}

.max-w-371 {
    max-width: 371px;
}

.max-w-383 {
    max-width: 383px;
}

.max-w-427 {
    max-width: 427px;
}

.max-w-447 {
    max-width: 447px;
}

.max-w-555 {
    max-width: 555px;
}

.max-w-640 {
    max-width: 640px;
}

.max-w-1140 {
    max-width: 1140px;
}

/***** padding & margin *****/

.pb-17 {
    padding-bottom: 17px;
}

.pb-58 {
    padding-bottom: 58.5px !important;
}

.pb-42 {
    padding-bottom: 42px;
}

.py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.mt-67 {
    margin-top: 67px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-31 {
    margin-bottom: 31px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-63 {
    margin-top: 63px !important;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-83 {
    margin-top: 83px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-103 {
    margin-top: 103px !important;
}

.mb-126 {
    margin-bottom: 126px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-155 {
    margin-top: 155px;
}

.pb-173 {
    padding-bottom: 173px !important;
}

/***** gap *****/
.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-37 {
    gap: 37px;
}

.gap-40 {
    gap: 40px;
}

.h-200 {
    height: 200px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    color: black !important;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate43 {
    transform: rotate(-43deg);
}

.navbar-link {
    transition: all 200ms linear;
}

.navbar-link:hover {
    color: var(--bg-flamboyant);
}

/***** header *****/
.sign-up-btn {
    padding: 13px 45px 13px 45px;
    border-radius: 50px;
    color: var(--color-radish-lips);
    border: 1px solid var(--color-radish-lips);
}

.sign-up-btn:hover {
    background-color: var(--bg-flamboyant) !important;
    color: var(--color-white);
}

.get-started-btn {
    padding: 17.5px 77.5px 17.5px 77.5px;
    border-radius: 10px;
    background: var(--bg-flamboyant);
    border: 1px solid var(--color-radish-lips) !important;
    position: relative;
}

.get-started-btn:hover {
    color: var(--color-radish-lips) !important;
    border: 1px solid var(--color-radish-lips) !important;
    background-color: var(--color-white);
}

.btn-blur {
    left: -5%;
    top: -40% !important;
}

.circle {
    width: 55px;
    height: 55px;
    background-color: #FFECEC;
    border-radius: 50px;
}

.border-line {
    border-right: 2px solid var(--color-snowflake);
}

.border-line-2 {
    border-right: 2px solid var(--color-snowflake);
}


/***** section-2 *****/
.bg-shadow {
    top: -40%;
    left: 0%;
    z-index: -1;
}

.card-3 {
    height: 200px;
    border-radius: 10px;
}

/***** section-3 *****/
.bg-color {
    background-color: #FBFBFB;
}

.box {
    max-width: 330px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    background-color: var(--color-white);
}

.box:hover {
    border: 2px solid var(--bg-flamboyant);
}

.card-1 {
    width: 190.54px;
    height: 230px;
}

.select-btn {
    padding: 13px 65px 13px 65px;
    border-radius: 50px;
    color: var(--color-radish-lips);
    border: 1px solid var(--color-radish-lips);
    z-index: 1;
}

.select-btn:hover {
    background-color: var(--bg-flamboyant) !important;
    color: var(--color-white);
}

.btn-blur-2 {
    top: -30%;
    z-index: 1;
    width: 150%;

}

.first-slider .slick-track {
    display: flex;
    gap: 59px;
}

/***** slider *****/
.section-5 .slider-card {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #dddddd;
    min-height: 260px;
}

.section-5 .second-slider .slick-track {
    display: flex;
    gap: 20px;
}

.section-5 .slick-slide {
    height: inherit;
    display: flex;
}

.section-5 .second-slider .slick-slide>div {
    display: flex;
}

.section-5 .second-slider .slick-dots li.slick-active {
    background: var(--bg-flamboyant);
    width: 45px;
    height: 15px;
    border-radius: 30px;
    right: 43%;
    top: 50px;
}

.section-5 .second-slider .slick-dots li {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #DDE0E4;
    right: 43%;
    top: 50px;
}

.section-5 .second-slider .slick-dots li.slick-active button:before {
    color: var(--bg-flamboyant);
}

.section-5 .second-slider .slick-dots li button:before {
    color: #dde0e4;
}

.section-5 .second-slider .slick-track .slick-slide.slick-current.slick-active {
    border: 2px solid var(--bg-flamboyant);
}

.section-5 .second-slider .slick-next:before {
    content: none;
    visibility: hidden;
}

.section-5 .second-slider .slick-prev:before {
    content: none;
    visibility: hidden;
}

.prev {
    position: absolute;
    right: 16%;
    border: 2px solid var(--bg-flamboyant);
    border-radius: 100px;
    padding: 15px;
    background-color: var(--color-white);
}

.prev:hover {
    background-color: var(--bg-flamboyant);

    path {
        fill: var(--color-white);
    }
}

.next {
    position: absolute;
    right: 10%;
    border: 2px solid var(--bg-flamboyant);
    border-radius: 100px;
    padding: 9.5px;
    background-color: var(--color-white);
}

.next:hover {
    background-color: var(--bg-flamboyant);

    path {
        fill: var(--color-white);
    }
}

/***** footer *****/
.subscribe-btn {
    padding: 17.5px 65px 17.5px 65px;
    border-radius: 10px;
    background: var(--bg-flamboyant);
    border: 1px solid var(--color-radish-lips) !important;
}

.subscribe-btn:hover {
    color: var(--color-radish-lips) !important;
    border: 1px solid var(--color-radish-lips) !important;
    background-color: white;
}

.btn-blur-3 {
    right: -15%;
    top: -30%;
    z-index: -1;
}

.box-2 {
    width: 1140px;
    width: 100%;
    padding: 58px 70px 58px 70px;
    border-radius: 10px;
    transform: translateY(-50%);
}

.circle-2 {
    width: 33.6px;
    height: 33.6px;
    background-color: var(--color-white);
    border-radius: 50px;
}

.icon {
    transition: all 200ms linear;
}

.icon:hover {
    transform: translateY(-10px);
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        background-color: var(--color-white) !important;
    }

    .show-navbar {
        right: 0 !important;
    }

    .btn-blur-3 {
        top: -60%;
        left: -20%;
        width: 70%;
    }

    .prev {
        position: absolute;
        right: 10%;
    }

    .next {
        position: absolute;
        right: 0%;
    }
}

@media (max-width:767.98px) {
    .box-2 {
        padding: 30px 10px;
        transform: translateY(-0%);
    }

    .border-line-2 {
        border: none;
    }

    .bg-shadow {
        display: none;
    }

    .btn-blur-3 {
        left: -5%;
        top: -30%;
        width: 70%;
    }

    .mt-155,
    .mt-150 {
        margin-top: 50px;
    }

    .prev {
        position: absolute;
        right: 13%;
    }

    .next {
        position: absolute;
        right: 0%;
    }

    .mt-67 {
        margin-top: 0;
    }
}

@media (max-width:575.98px) {
    .border-line {
        border: none;
    }

    .prev {
        position: absolute;
        right: 35%;
    }

    .next {
        position: absolute;
        right: 15%;
    }

    .btn-blur-3 {
        left: 0%;
        top: 5%;
    }

    .ml-20 {
        margin-left: 0;
    }

    .pt-70 {
        padding-top: 70px;
    }
}