@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(./root.css);

/***** max-width *****/
.max-w-383 {
    max-width: 383px;
}

.max-w-427 {
    max-width: 427px;
}

.max-w-555 {
    max-width: 555px;
}

.max-w-1140 {
    max-width: 1140px;
}

/***** padding & margin *****/
.py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-31 {
    margin-bottom: 31px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-103 {
    margin-top: 103px !important;
}

.mt-130 {
    margin-top: 130px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-155 {
    margin-top: 155px;
}

/***** gap *****/
.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-37 {
    gap: 37px;
}

.gap-40 {
    gap: 40px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    color: black !important;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate43 {
    transform: rotate(-43deg);
}

/***** header *****/
.sign-up-btn {
    padding: 13px 45px 13px 45px;
    border-radius: 50px;
    color: var(--color-radish-lips);
    border: 1px solid var(--color-radish-lips);
}

.get-started-btn {
    padding: 17.5px 77.5px 17.5px 77.5px;
    border-radius: 10px;
    background: var(--bg-flamboyant);
}

.circle {
    width: 55px;
    height: 55px;
    background-color: #FFECEC;
    border-radius: 50px;
}

.border-line {
    border-right: 2px solid var(--color-snowflake);
    color: #0D1025;
    backdrop-filter: blur(114px);
}

/***** section-3 *****/
.bg-color {
    background-color: #FBFBFB;
}

.box {
    width: 330px;
    padding: 79px 70px 50px 70px;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    background-color: var(--color-white);
}

.card-1 {
    width: 190.54px;
    height: 230px;
}

.select-btn {
    padding: 13px 65px 13px 65px;
    border-radius: 50px;
    color: var(--color-radish-lips);
    border: 1px solid var(--color-radish-lips);
}

.select-btn-2 {
    padding: 13px 65px 13px 65px;
    border-radius: 50px;
    border: none;
    color: var(--color-white);
    background: #F53838 !important;
}



@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        background-color: var(--color-white) !important;
    }

    .show-navbar {
        right: 0 !important;
    }
}